*-blx.bib
*.asv
*.aux
*.bak
*.bbl
*.bcf
*.bib.sav
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.gz
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdf
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.pyc
*.DS_store
__pychache__/
.ipynb_checkpoints/
*.db-shm
*.db-wal
